html{
    color:#444;
}
body{
    max-width:800px;
    margin-left:auto;
    margin-right: auto;
}

header{
    text-align: center;
}
header h1{
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    
}
#header{
    background-color: #90E2D2;
    padding:3px;
}
nav{
    background-color: #50CFB6 ;
    padding:8px;
}

nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    
    
}

nav li{
    display:inline;
    padding:5px;
    
}
a:link{
    text-decoration: none;
}

section{
    background-color: #1abc9c;
    padding:20px;
    
}

footer{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

img{
    width:50%;
}

#left{
    clear:left;
    float:left;
    width:45%;
}