html{
    color:#444;
}
body{
    max-width:800px;
}

header{
    text-align: center;
}
header h1{
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    
}
nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    
    
}
a:link{
    text-decoration: none;
}

section{
    width:80%;
    background-color: #1abc9c;
    padding:20px;
    
}

footer{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

